/**
 * Project: Congress
 * Author: codeams@gmail.com
 */

.section-title {
  text-align: left;
  margin-bottom: 5px;
}

.section-content {
  margin-bottom: 60px;
}

.content {
  padding-left: 0;
  padding-right: 0;
}

.registration-form {
  padding: 20px 0 0;
  margin-bottom: 30px;
  /* background-color: #FAFAFA; */
}

 .registration-form > .row > .columns {
   position: relative;
   margin-bottom: 5px;
 }

 .registration-form > .row:last-of-type > .columns:last-of-type {
   margin-bottom: 0;
 }

.section-content {
  padding-top: 20px;
}

.text-field-container span {
  padding-left: 15px;
  font-size: 1.1rem;
  color: #00234e;
}

input[type="text"] {
  display: block;
  padding: 30px 15px;
  font-size: 20px;
  color: #00234e;
  opacity: 0.7;
  border-radius: 6px;
}

input[type="text"]:focus {
  opacity: 1;
}

.terms-acceptance {
  margin-bottom: 60px;
}

.checkbox-container {
  white-space: nowrap;
}

.checkbox-container label {
  display: inline-block;
  white-space: normal;
  font-size: 1.1rem;
  cursor: pointer;
}

input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  margin-bottom: 0;
}

.button {
  padding-left: 50px;
  padding-right: 50px;
}

/* Small only */
@media screen and ( max-width: 39.9375em ) {
  .button {
    display: block;
    width: 100%;
    margin: 10px 0;
  }
}

/*#groupal-registration .registration-form > .columns {
  margin-bottom: 15px;
}*/
